<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Blogify</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-primary" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
       
        <% if(locals.user){%>
          <li class="nav-item">
            <a class="nav-link" href="/blog/addblog">Add Blog</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              User <%= locals.user.fullname %>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
            </ul>
          </li>
          <%} else{%> 
            <li class="nav-item">
              <a class="nav-link" href="/user/signup">Create Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/signin">Signin</a>
            </li>
             <%} %>


      </ul>

    </div>
  </div>
</nav>

<% if(locals.error){%>
  <div>
    <div class="container mt-3">
      <div class="alert  alert-dismissible fade show alert-danger" role="alert">
        <strong>Error! </strong>
        <%=locals.error%>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  </div>
  <%} %>